In [1]:
import numpy as np
import pandas as pd
import lightgbm as gbm

In [2]:
train = pd.read_csv("../input/application_train.csv") 
test = pd.read_csv('../input/application_test.csv')
bureau = pd.read_csv('../input/bureau.csv')
bureau_balance = pd.read_csv('../input/bureau_balance.csv')
credit_card_balance = pd.read_csv('../input/credit_card_balance.csv')
pos_cash_balance = pd.read_csv('../input/POS_CASH_balance.csv')
previous_applications = pd.read_csv('../input/previous_application.csv')

In [3]:
train.head()

   SK_ID_CURR             ...              AMT_REQ_CREDIT_BUREAU_YEAR
0      100002             ...                                     1.0
1      100003             ...                                     0.0
2      100004             ...                                     0.0
3      100006             ...                                     NaN
4      100007             ...                                     0.0

[5 rows x 122 columns]

In [4]:
bureau.head()

   SK_ID_CURR  SK_ID_BUREAU     ...     DAYS_CREDIT_UPDATE AMT_ANNUITY
0      215354       5714462     ...                   -131         NaN
1      215354       5714463     ...                    -20         NaN
2      215354       5714464     ...                    -16         NaN
3      215354       5714465     ...                    -16         NaN
4      215354       5714466     ...                    -21         NaN

[5 rows x 17 columns]

In [5]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [6]:
credit_card_balance.head()

   SK_ID_PREV  SK_ID_CURR     ...      SK_DPD  SK_DPD_DEF
0     2562384      378907     ...           0           0
1     2582071      363914     ...           0           0
2     1740877      371185     ...           0           0
3     1389973      337855     ...           0           0
4     1891521      126868     ...           0           0

[5 rows x 23 columns]

In [7]:
pos_cash_balance.head()

   SK_ID_PREV  SK_ID_CURR     ...      SK_DPD  SK_DPD_DEF
0     1803195      182943     ...           0           0
1     1715348      367990     ...           0           0
2     1784872      397406     ...           0           0
3     1903291      269225     ...           0           0
4     2341044      334279     ...           0           0

[5 rows x 8 columns]

In [8]:
previous_applications.head()

   SK_ID_PREV            ...              NFLAG_INSURED_ON_APPROVAL
0     2030495            ...                                    0.0
1     2802425            ...                                    1.0
2     2523466            ...                                    1.0
3     2819243            ...                                    1.0
4     1784265            ...                                    NaN

[5 rows x 37 columns]

In [9]:
from sklearn.preprocessing import LabelEncoder

def encoding_missing_values(df):
    label_encoder = LabelEncoder()
    categorical_variables = df.select_dtypes('object').columns.tolist()
    for column in categorical_variables:
        df[column] = label_encoder.fit_transform(df[column].astype(str))
    numerical_variables=df.select_dtypes(['float64','int64']).columns.tolist()
    df[numerical_variables]= df[numerical_variables].fillna(0)
    return df

In [10]:
train_shape = train.shape[0]
target = train.TARGET.copy()
train = train.drop(labels = ['TARGET'], axis = 1)

train = encoding_missing_values(train)
test = encoding_missing_values(test)
bureau = encoding_missing_values(bureau)
bureau_balance = encoding_missing_values(bureau_balance)
credit_card_balance = encoding_missing_values(credit_card_balance)
pos_cash_balance = encoding_missing_values(pos_cash_balance)
previous_applications = encoding_missing_values(previous_applications)

In [11]:
bureau_labels=[n+'_'+l for n in bureau.columns.tolist() if n!='SK_ID_CURR' for l in ['mean','count','median','max']]
bureau_stats=bureau.groupby('SK_ID_CURR').agg(['mean','count','median','max']).reset_index()
bureau_stats.columns=['SK_ID_CURR']+bureau_labels
bureau_stats.head()

   SK_ID_CURR       ...         AMT_ANNUITY_max
0      100001       ...                 10822.5
1      100002       ...                     0.0
2      100003       ...                     0.0
3      100004       ...                     0.0
4      100005       ...                  4261.5

[5 rows x 65 columns]

In [12]:
credit_card_balance_labels=[n+'_'+l for n in credit_card_balance.columns.tolist() if n!='SK_ID_CURR' for l in ['mean','count','median','max']]
credit_card_stats=credit_card_balance.groupby('SK_ID_CURR').agg(['mean','count','median','max']).reset_index()
credit_card_stats.columns=['SK_ID_CURR']+credit_card_balance_labels
credit_card_stats.head()

   SK_ID_CURR       ...        SK_DPD_DEF_max
0      100006       ...                     0
1      100011       ...                     0
2      100013       ...                     1
3      100021       ...                     0
4      100023       ...                     0

[5 rows x 89 columns]

In [13]:
pos_cash_balance_labels=[n+'_'+l for n in pos_cash_balance.columns.tolist() if n!='SK_ID_CURR' for l in ['mean','count','median','max']]
pos_cash_stats=pos_cash_balance.groupby('SK_ID_CURR').agg(['mean','count','median','max']).reset_index()
pos_cash_stats.columns=['SK_ID_CURR']+ pos_cash_balance_labels
pos_cash_stats.head()

   SK_ID_CURR       ...        SK_DPD_DEF_max
0      100001       ...                     7
1      100002       ...                     0
2      100003       ...                     0
3      100004       ...                     0
4      100005       ...                     0

[5 rows x 29 columns]

In [14]:
previous_applications_labels=[n+'_'+l for n in previous_applications.columns.tolist() if n!='SK_ID_CURR' for l in ['mean','count','median','max']]
previous_applications_stats=previous_applications.groupby('SK_ID_CURR').agg(['mean','count','median','max']).reset_index()
previous_applications_stats.columns=['SK_ID_CURR']+ previous_applications_labels
previous_applications_stats.head()

   SK_ID_CURR              ...                NFLAG_INSURED_ON_APPROVAL_max
0      100001              ...                                          0.0
1      100002              ...                                          0.0
2      100003              ...                                          1.0
3      100004              ...                                          0.0
4      100005              ...                                          0.0

[5 rows x 145 columns]

In [15]:
train.head()

   SK_ID_CURR             ...              AMT_REQ_CREDIT_BUREAU_YEAR
0      100002             ...                                     1.0
1      100003             ...                                     0.0
2      100004             ...                                     0.0
3      100006             ...                                     0.0
4      100007             ...                                     0.0

[5 rows x 121 columns]

In [16]:
train_test_combo = (train.append(test).merge(bureau_stats, on = 'SK_ID_CURR', how = 'left')
                                       .merge(credit_card_stats, on = 'SK_ID_CURR', how = 'left')
                                        .merge(pos_cash_stats, on = 'SK_ID_CURR', how = 'left')
                                        .merge(previous_applications_stats, on = 'SK_ID_CURR', how = 'left'))

In [17]:
train_test_combo.head()

   SK_ID_CURR              ...                NFLAG_INSURED_ON_APPROVAL_max
0      100002              ...                                          0.0
1      100003              ...                                          1.0
2      100004              ...                                          0.0
3      100006              ...                                          0.0
4      100007              ...                                          1.0

[5 rows x 445 columns]

In [18]:
train_test_combo.drop(labels=['SK_ID_CURR'],axis=1,inplace=True)

In [19]:
train_df = train_test_combo.iloc[:train_shape,:]
test_df = train_test_combo.iloc[train_shape:,:]

In [20]:
param = {'objective' : 'binary',
          'boosting_type': 'gbdt',
          'metric' : 'auc',
          'nthread' : 4,
          'shrinkage_rate':0.025,
          'max_depth':8,
          'min_data_in_leaf':100,
          'min_child_weight': 2,
          'bagging_fraction':0.75,
          'feature_fraction':0.75,
          'min_split_gain':.01,
          'lambda_l1':1,
          'lambda_l2':1,
          'num_leaves':36}

In [21]:
from sklearn.model_selection import train_test_split
train_x, valid_x, train_y, valid_y = train_test_split(train_df, target, test_size=0.2, shuffle=True)

In [22]:
train_data=gbm.Dataset(train_x,label=train_y)
valid_data=gbm.Dataset(valid_x,label=valid_y)

In [23]:
lgbm = gbm.train(param,
                 train_data,
                 1000,
                 valid_sets=valid_data,
                 early_stopping_rounds= 100,
                 verbose_eval= 10
                 )

Training until validation scores don't improve for 100 rounds.
[10]	valid_0's auc: 0.738094
[20]	valid_0's auc: 0.741916
[30]	valid_0's auc: 0.747875
[40]	valid_0's auc: 0.750353
[50]	valid_0's auc: 0.753273
[60]	valid_0's auc: 0.75557
[70]	valid_0's auc: 0.75802
[80]	valid_0's auc: 0.760295
[90]	valid_0's auc: 0.762678
[100]	valid_0's auc: 0.764456
[110]	valid_0's auc: 0.766258
[120]	valid_0's auc: 0.76807
[130]	valid_0's auc: 0.769487
[140]	valid_0's auc: 0.770794
[150]	valid_0's auc: 0.771931
[160]	valid_0's auc: 0.773044
[170]	valid_0's auc: 0.774426
[180]	valid_0's auc: 0.77509
[190]	valid_0's auc: 0.776003
[200]	valid_0's auc: 0.776829
[210]	valid_0's auc: 0.777726
[220]	valid_0's auc: 0.778449
[230]	valid_0's auc: 0.77905
[240]	valid_0's auc: 0.779641
[250]	valid_0's auc: 0.780132
[260]	valid_0's auc: 0.780487
[270]	valid_0's auc: 0.780852
[280]	valid_0's auc: 0.781314
[290]	valid_0's auc: 0.781736
[300]	valid_0's auc: 0.782167
[310]	valid_0's auc: 0.782578
[320]	valid_0's auc: 0.782898
[330]	valid_0's auc: 0.783243
[340]	valid_0's auc: 0.783678
[350]	valid_0's auc: 0.783918
[360]	valid_0's auc: 0.784259
[370]	valid_0's auc: 0.784495
[380]	valid_0's auc: 0.784696
[390]	valid_0's auc: 0.784954
[400]	valid_0's auc: 0.785158
[410]	valid_0's auc: 0.785425
[420]	valid_0's auc: 0.785662
[430]	valid_0's auc: 0.785786
[440]	valid_0's auc: 0.785943
[450]	valid_0's auc: 0.786134
[460]	valid_0's auc: 0.786349
[470]	valid_0's auc: 0.786493
[480]	valid_0's auc: 0.78665
[490]	valid_0's auc: 0.786821
[500]	valid_0's auc: 0.786909
[510]	valid_0's auc: 0.78702
[520]	valid_0's auc: 0.787081
[530]	valid_0's auc: 0.787181
[540]	valid_0's auc: 0.787274
[550]	valid_0's auc: 0.787332
[560]	valid_0's auc: 0.787483
[570]	valid_0's auc: 0.78752
[580]	valid_0's auc: 0.78757
[590]	valid_0's auc: 0.787659
[600]	valid_0's auc: 0.787671
[610]	valid_0's auc: 0.787754
[620]	valid_0's auc: 0.787808
[630]	valid_0's auc: 0.787869
[640]	valid_0's auc: 0.787892
[650]	valid_0's auc: 0.787912
[660]	valid_0's auc: 0.787928
[670]	valid_0's auc: 0.787951
[680]	valid_0's auc: 0.787995
[690]	valid_0's auc: 0.788007
[700]	valid_0's auc: 0.788015
[710]	valid_0's auc: 0.787946
[720]	valid_0's auc: 0.787993
[730]	valid_0's auc: 0.787999
[740]	valid_0's auc: 0.788043
[750]	valid_0's auc: 0.788122
[760]	valid_0's auc: 0.788102
[770]	valid_0's auc: 0.788086
[780]	valid_0's auc: 0.788081
[790]	valid_0's auc: 0.788101
[800]	valid_0's auc: 0.788167
[810]	valid_0's auc: 0.788238
[820]	valid_0's auc: 0.7882
[830]	valid_0's auc: 0.788208
[840]	valid_0's auc: 0.788222
[850]	valid_0's auc: 0.788224
[860]	valid_0's auc: 0.78821
[870]	valid_0's auc: 0.788259
[880]	valid_0's auc: 0.788255
[890]	valid_0's auc: 0.788283
[900]	valid_0's auc: 0.788308
[910]	valid_0's auc: 0.788285
[920]	valid_0's auc: 0.78829
[930]	valid_0's auc: 0.788223
[940]	valid_0's auc: 0.788219
[950]	valid_0's auc: 0.788223
[960]	valid_0's auc: 0.788198
[970]	valid_0's auc: 0.788211
[980]	valid_0's auc: 0.788244
[990]	valid_0's auc: 0.7883
[1000]	valid_0's auc: 0.788301
Did not meet early stopping. Best iteration is:
[916]	valid_0's auc: 0.788328

In [24]:
from sklearn.metrics import roc_auc_score
train_y_lgb = lgbm.predict(train_x)
val_y_lgb = lgbm.predict(valid_x)
print("ROC for Train ROC" , roc_auc_score(train_y,train_y_lgb))
print("ROC for Validation ROC",roc_auc_score(valid_y,val_y_lgb))

ROC for Train ROC 0.8701760865826053
ROC for Validation ROC 0.7883279183710917

In [25]:
predictions = lgbm.predict(test_df)
submission = pd.read_csv('../input/sample_submission.csv')


submission.TARGET = predictions

submission.to_csv('lgbm_submission.csv', index=False)